.game-container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hotspot-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.svg-hotspot {
  fill: transparent;
  stroke: transparent;
  cursor: pointer;
}


.puzzle {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 420px;
  max-width: 90%;

  padding: 35px;

  background: #111;

  border: 3px solid #3a3a3a;
  border-radius: 8px;

  box-shadow:
    inset 0 0 20px #000,
    0 0 20px rgba(0,0,0,.8);

  color: white;
  text-align: center;
  z-index: 1000;
}

.puzzle h3{

  margin:0;

  color:#d2d2d2;

  font-size:30px;

  letter-spacing:5px;

  font-family:Georgia, serif;
}

.puzzle p{

  margin:18px 0 28px;

  color:#8d8d8d;

  font-size:14px;

  line-height:24px;

  letter-spacing:1px;
}

.code-box{
  margin-bottom:20px;
}

.code-label{

  display:block;

  margin-bottom:16px;

  color:#a61c1c;

  letter-spacing:4px;

  font-size:15px;

  font-family:Georgia, serif;

  text-transform:uppercase;
}


.horror-input{

  width:220px;
  height:72px;

  background:#1a1a1a;

  border:4px solid #4b4b4b;

  border-radius:4px;

  color:#fff;

  font-size:38px;

  font-family:"Courier New", monospace;

  font-weight:bold;

  text-align:center;

  letter-spacing:22px;

  outline:none;

  box-shadow:
      inset 0 0 15px #000,
      0 0 10px #1b0000;

  transition:.25s;
}

.horror-input::placeholder{

  color:#555;

  letter-spacing:22px;
}

.horror-input:focus{

  border-color:#8b0000;

  color:#ff3b3b;

  background:#101010;

  box-shadow:
      inset 0 0 15px #000,
      0 0 18px #8b0000;
}


.puzzle button {

  width:240px;

  margin-top:20px;

  padding:14px;

  background:#2b1a12;

  color:#d9c3a2;

  border:3px solid #5d4634;

  border-radius:4px;

  font-size:17px;

  font-weight:bold;

  letter-spacing:3px;

  text-transform:uppercase;

  cursor:pointer;

  font-family:Georgia, serif;

  box-shadow:
      inset 0 0 8px #000,
      0 0 10px #220000;

  transition:.25s;
}

.puzzle button:hover{

  background:#4b1d1d;

  border-color:#8b0000;

  color:#fff;

  box-shadow:
      0 0 16px #8b0000,
      inset 0 0 8px #000;

  transform:translateY(-2px);
}

.puzzle button:active{

  transform:scale(.98);

  background:#1d0b0b;
}


.room-wrapper {
  position: relative;
  width: min(100vw,
      calc(100vh * 1365 / 768));
  height: min(100vh,
      calc(100vw * 768 / 1365));
}

.room-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.hotspot-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.svg-hotspot {
  fill: transparent;
  stroke: none;
  cursor: pointer;
}

.objective {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  padding: 15px;
  background: rgba(0, 0, 0, .75);
  color: white;
  border-radius: 10px;
  z-index: 100;
}

.inventory {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 220px;
  min-height: 140px;
  padding: 15px;
  background: rgba(0, 0, 0, .75);
  color: white;
  border: 2px solid #666;
  border-radius: 10px;
  z-index: 100;
}

.popup-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  width: 350px;
  background: #1b1b1b;
  color: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.room-image{
    animation: breathing 8s ease-in-out infinite;
}

.hidden-key{
    position:absolute;
    right:87px;
    top:350px;
    width:55px;
    cursor:pointer;
    z-index:120;
    animation:
        keyFloat 2.5s ease-in-out infinite,
        keyGlow 2s ease-in-out infinite;
}

.hidden-key:hover{
    transform:scale(1.15);
}

@keyframes keyFloat{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-8px);
    }
}

@keyframes keyGlow{
    0%,100%{
        filter:drop-shadow(0 0 8px gold);
    }
    50%{
        filter:drop-shadow(0 0 18px gold);
    }
}

@keyframes breathing{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.015);
    }
    100%{
        transform:scale(1);
    }
}

@media(max-width:768px){

  .objective{
    width:180px;
    font-size:12px;
  }

  .inventory{
    width:150px;
    font-size:12px;
  }

  .popup{
    width:90%;
  }

  .puzzle{
    width:90%;
    padding:25px;
  }

  .horror-input{
    width:180px;
    font-size:30px;
    letter-spacing:16px;
  }

  .puzzle button{
    width:200px;
  }

}