@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    background:black;

}

.admin-bg{

    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
    url("../../assets/images/admin-bg.jpg");

    background-size:cover;

    background-position:center;

    background-attachment:fixed;

}

.overlay{

    min-height:100vh;

    backdrop-filter:blur(6px);

}