.player-card {
    background: linear-gradient(180deg, #1b1b1b, #111);
    border: 1px solid rgba(255, 0, 0, .18);
    border-radius: 20px;
    color: #fff;
    transition: .35s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .45);
}

.player-card:hover {
    transform: translateY(-8px);
    border-color: #b71c1c;
    box-shadow: 0 0 25px rgba(183, 28, 28, .35);
}

.player-avatar {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #6d0000;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, .08);
}

.player-info {

    margin-top: 20px;

}

.player-info p {

    display: flex;

    justify-content: space-between;

    background: #242424;

    padding: 12px 16px;

    border-radius: 10px;

    color: white;

    margin-bottom: 10px;

}

.player-info span {

    color: #9d9d9d;

}
.btn-view{

width:46px;
height:46px;

border-radius:50%;

background:#232323;

color:white;

border:none;

}

.btn-view:hover{

background:#1976d2;

}

.btn-delete{

width:46px;
height:46px;

border-radius:50%;

background:#4e0000;

color:white;

border:none;

}

.btn-delete:hover{

background:#b71c1c;

}

.player-modal-overlay {

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, .75);

    backdrop-filter: blur(8px);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 999;

}

.player-modal {

    width: 480px;

    background: #171717;

    padding: 35px;

    border-radius: 20px;

    position: relative;

    border: 1px solid rgba(255, 0, 0, .3);

    box-shadow: 0 0 35px rgba(255, 0, 0, .25);

}

.close-btn {

    position: absolute;

    right: 18px;

    top: 15px;

    background: none;

    border: none;

    font-size: 24px;

    color: white;

    cursor: pointer;

}

.modal-avatar {

    width: 90px;

    height: 90px;

    border-radius: 50%;

    background: linear-gradient(135deg, #8b0000, #ff4d4d);

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 38px;

    font-weight: bold;

    margin: auto;

    color: white;

}

.player-details {

    margin-top: 25px;

}

.player-details div {

    background: #232323;

    padding: 14px;

    border-radius: 12px;

    margin-bottom: 15px;

}

.player-details span {

    font-size: 13px;

    color: #999;

    display: block;

    margin-bottom: 4px;

}

.player-details p {

    margin: 0;

    color: white;

    font-weight: 500;

    word-break: break-word;

}

.search-box{

width:100%;
max-width:500px;

display:flex;
align-items:center;

padding:14px 18px;

background:#171717;

border:1px solid #2c2c2c;

border-radius:14px;

}

.search-box input{

flex:1;

background:none;

border:none;

outline:none;

color:white;

margin-left:12px;

}

.search-box svg{

color:#c62828;

font-size:18px;

}