.sidebar{

width:280px;
height:100vh;

padding:35px 20px;

position:fixed;
left:0;
top:0;

background:rgba(8,8,8,.45);

backdrop-filter:blur(18px);

border-right:1px solid rgba(255,255,255,.08);

display:flex;
flex-direction:column;

}

.logo{

font-family:"Cinzel",serif;

font-size:38px;

letter-spacing:6px;

color:white;

text-align:center;

text-shadow:0 0 15px crimson;

}

.logo-area p{

text-align:center;

letter-spacing:3px;

color:#999;

margin-bottom:50px;

font-size:12px;

}

.menu-link{

display:flex;

align-items:center;

gap:15px;

padding:15px 18px;

margin-bottom:12px;

border-radius:14px;

text-decoration:none;

color:#d7d7d7;

transition:.3s;

}

.menu-link:hover{

background:rgba(255,0,0,.12);

color:white;

transform:translateX(8px);

}

.menu-link.active{

background:rgba(255,0,0,.16);

border-left:4px solid crimson;

color:white;

}

.logout-btn{

margin-top:auto;

background:#7a1010;

border:none;

padding:14px;

border-radius:12px;

color:white;

transition:.3s;

}

.logout-btn:hover{

background:crimson;

}